<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<listener>
		<listener-class>com.jk.listener.SpringServletContextListener</listener-class>
	</listener>

	<!-- servlet 配置 -->
	<servlet>
		<servlet-name>userWeb</servlet-name>
		<servlet-class>com.jk.web.UserWeb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userWeb</servlet-name>
		<url-pattern>/userweb</url-pattern>
	</servlet-mapping>
	
</web-app>
